<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'menuapp:menu' %}">メニューリクエスト</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          メニュー
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'menuapp:list' %}">メニューリストの表示</a>
          <a class="dropdown-item" href="{% url 'menuapp:create' %}">メニューの登録</a>
          <a class="dropdown-item" href="{% url 'requestapp:requests'%}">リクエスト一覧</a> 
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          グループ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- 自分がオーナーのグループがない場合 -->
          {% if mygroup is None %} 
            <!-- グループに所属している -->
            {% if user.belong_group == True %}
              <a href="{% url 'groupapp:member_list' %}" class="dropdown-item">メンバーリスト</a>
            <!-- グループに所属していない -->
            {% else %}
              <a class="dropdown-item" href="{% url 'groupapp:make_group'%}">グループを作成する</a>
            {% endif %}
          {% else %}
            <a href="{% url 'groupapp:member_list' %}" class="dropdown-item">メンバーリスト</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <p class="dropdown-item">ユーザーを検索</p>
          <form class="form-inline my-2 my-lg-0 dropdown-item" action="{% url 'searchapp:search_user' %}" method="get">
            {% csrf_token %}
            <!-- name="q" と追加-->
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </ul>

    <!-- 招待されている状態(グループに所属していてもTrue) -->
    {% if user.is_invitated == True %}
      <!-- グループに所属していない場合 -->
      {% if user.belong_group == False %}
        <a href="{% url 'groupapp:invitated_list' %}" class="btn btn-primary" role="button" aria-pressed="true">招待されています</a>
      {% else %}
        <!-- グループに所属していて、オーナーからメニューが届いた場合 -->
        {% if not receive_request is None %}
          <a href="{% url 'requestapp:receive_list' receive_request.id %}" class="btn btn-primary" role="button" aria-pressed="true">リクエストを受け取りました</a>
        {% endif %}
      {% endif %}
    {% endif %}

    <!-- ログアウト -->
    <!-- <form action="{% url 'logout' %}" method="POST" id="delete-form">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">logout</button>
    </form> -->

    <!-- アカウント情報 -->
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}さん
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">アカウント情報</a>
          <div class="dropdown-divider"></div>
          <!-- ログアウト -->
          <form class="dropdown-item" action="{% url 'logout' %}" method="POST" id="delete-form">
            {% csrf_token %}
            <button type="submit" class="dropdown-item">logout</button>
          </form>
        </div>
      </li>
    </ul>

  </div>
</nav>