{% extends 'base.html' %}

{% block content %}
<div class="container">
  <p>{{object.menuName}}</p>
  <img src="{{object.image.url}}">
  <p>{{object.category}}</p>
  <p>{{object.items}}</p>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    メニューを削除する
  </button>
  <a href="{% url 'menuapp:list' %}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">リストに戻る</a>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">本当に削除しますか？</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <div class="modal-body">
          ...
        </div> -->
        <div class="modal-footer">
          <form action="{% url 'menuapp:delete' object.pk %}" method="POST" id="delete-form">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" id="delete-cancel-button" data-dismiss="modal">キャンセル</button>
            <button type="submit" class="btn btn-primary">削除する</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}