{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>ホーム</h2>
{% if user.is_authenticated %}
  {% if not send_request is None %}
    <h3>本日のリクエストメニュー</h3>
    <div class="row">
    {% for member in group_member %}
      {% if not member.request_menu is None %}
      <div class="card col-3" style="width: 18rem;">
        <a href="{% url 'menuapp:detail' member.request_menu.menu.pk %}">
        <img src="{{member.request_menu.menu.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{member.request_menu.menu.menuName}}</a>
        </div>
        <div class="alert alert-primary" role="alert">
          {{member.member.username}}さんの選択
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <a href="{% url 'requestapp:request_clear' %}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">リクエストメニューをクリア</a>
  {% endif %}

  <!-- <a href="{% url 'menuapp:create' %}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">メニューを登録する</a>
  <a href="{% url 'menuapp:list' %}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">メニューリストを見る</a> -->
{% else %}
  <p>ログインしてください</p>
{% endif %}
</div>
{% endblock content %}